<ion-view title="App Feedback" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="appFeedback-form2" class="list">
      <form id="appFeedback-form3" class="list">
        <label class="item item-input" id="appFeedback-input6">
          <input type="text" placeholder="Write down your suggestions or list any bugs you want to report. We will work on it right away!">
        </label>
        <div class="list card semitransparency" id="appFeedback-card24">
          <div class="item item-body" id="appFeedback-list-item-container6">
            <div id="appFeedback-markdown12" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Upload a screenshot or picture (optional)</p>
            </div>
          </div>
          <div class=" item item-image">
            <a style="display:block;" href-inappbrowser="http://www.google.com">
              <img src="img/02K0rZdDQCyHxZrBZ7C1_img_140864.png" style="display:block;width:80px;height:auto;">
            </a>
          </div>
        </div>
        <button id="appFeedback-button10" class="button button-dark button-block semitransparency">Submit</button>
      </form>
    </form>
  </ion-content>
</ion-view>