<ion-view title="Catch Up" id="page11">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="list card" id="catchUp-card215">
      <ion-item class="item-divider" id="catchUp-list-item-divider4"> January 8</ion-item>
      <ion-item class="item-avatar" id="catchUp-list-item31">
        <img src="img/lIdtZpT5SNSxdXhP4HVw_france.jpg">
        <h2>3:00PM - B2 FCE Prep</h2>
        <p>Phrasal Verbs 3</p>
      </ion-item>
      <div id="catchUp-button-bar4" class="button-bar">
        <button id="catchUp-button23" class="button button-assertive button-small button-block icon ion-play"></button>
        <button id="catchUp-button24" class="button button-dark button-small button-block icon ion-ios-game-controller-b"></button>
        <button id="catchUp-button25" class="button button-dark button-small button-block icon ion-ios-book"></button>
        <button id="catchUp-button26" class="button button-assertive button-small button-block icon ion-ios-list"></button>
      </div>
    </div>
  </ion-content>
</ion-view>