<ion-view title="Courses" id="page14">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="list card" id="courses-card28" ng-repeat="">
      <div class=" item item-image">
        <img src="img/9iwxX5MT52kNSw8mPkaQ_ScreenShot2018-05-10at11.38.38PM.png" style="display: block; width: 100%; height: 180px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body semitransparency" id="courses-list-item-container11">
        <div id="courses-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Nathanael Warren</strong>
          </p>
        </div>
      </div>
      <div class="item item-body semitransparency" id="courses-list-item-container9">
        <div id="courses-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>B2 Cambridge First Exam Prep</strong>
          </p>
        </div>
        <div id="courses-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">This course will help you prepare for the Cambridge First Exam (FCE).</p>
        </div>
      </div>
    </div>
    <div class="list card" id="courses-card29">
      <div class=" item item-image">
        <img src="img/AyAk9mZoQEeUQK1FcTYQ_ScreenShot2018-05-10at11.38.48PM.png" style="display: block; width: 100%; height: 180px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="courses-list-item-container12">
        <div id="courses-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>C1 Cambridge Advanced Exam Prep</strong>
          </p>
        </div>
        <div id="courses-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">This course will help you prepare for the Cambridge Advanced Exam (CAE).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>