<ion-view title="Home" hide-back-button="true" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-dark icon ion-android-notifications"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="list card semitransparency" id="home-card21">
      <ion-item class="item-icon-left item-icon-right dark" id="home-list-item3" ui-sref="menu.upcomingClasses()">
        <i class="icon ion-ios-book"></i>Upcoming Classes
        <i class="icon ion-ios-arrow-forward icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="home-list-item-container2">
        <div id="home-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Jan 10</strong> Airport Vocabulary</p>
        </div>
        <div id="home-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Jan 12</strong> Active vs. Passive Voice</p>
        </div>
      </div>
    </div>
    <div class="list card semitransparency" id="home-card22">
      <ion-item class="item-icon-left item-icon-right dark" id="home-list-item5" ui-sref="menu.catchUp()">
        <i class="icon ion-ios-list"></i>Catch Up
        <i class="icon ion-ios-arrow-forward icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="home-list-item-container3">
        <div id="home-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Jan 8</strong> Watch pre-class video</p>
        </div>
        <div id="home-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Jan 8</strong> Take post-class quiz</p>
        </div>
      </div>
    </div>
    <div class="list card semitransparency" id="home-card23">
      <ion-item class="item-icon-left item-icon-right dark" id="home-list-item7" ui-sref="menu.recommended()">
        <i class="icon ion-ios-game-controller-b"></i>Recommended for You
        <i class="icon ion-ios-arrow-forward icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="home-list-item-container4">
        <div id="home-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Countries/ Cities matching game</p>
        </div>
        <div id="home-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">B2 Business Quizlet cards</p>
        </div>
        <div id="home-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Phrasal verbs game</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>