<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-only" id="menu-tabs1">
    <ion-tab title="Home" icon="ion-android-home" href="#/page1/page2" id="menu-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Social" icon="ion-ios-people" href="#/page1/page3" id="menu-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Courses" icon="ion-university" href="#/page1/page14" id="menu-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-android-settings" href="#/page1/page5" id="menu-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>