<ion-view title="Notification" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="notification-list5" class="manual-list-fullwidth">
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="notification-toggle6" class="semitransparency">New Quiz Available</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="notification-toggle7" class="semitransparency">New Lesson Available</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>