<ion-view title="Recommended" id="page12">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="recommended-card216">
      <ion-item class="item-icon-left item-icon-right" id="recommended-list-item38">
        <i class="icon ion-ios-game-controller-b"></i>Recommended game
        <i class="icon ion-ios-arrow-forward icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="recommended-list-item-container22">
        <div id="recommended-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Countries/ Cities matching game
            <strong>(PC)</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="recommended-card217">
      <ion-item class="item-icon-left item-icon-right" id="recommended-list-item39">
        <i class="icon ion-ios-paper"></i>Recommended Quizlet
        <i class="icon ion-ios-arrow-forward icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="recommended-list-item-container23">
        <div id="recommended-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">B2 Business Quizlet cards</p>
        </div>
      </div>
    </div>
    <div class="list card" id="recommended-card218">
      <ion-item class="item-icon-left item-icon-right" id="recommended-list-item40">
        <i class="icon ion-ios-game-controller-b"></i>Recommended game
        <i class="icon ion-ios-arrow-forward icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="recommended-list-item-container24">
        <div id="recommended-markdown33" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Phrasal verbs game
            <strong>(mobile-ready)</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>