<ion-view title="Upcoming Classes" id="page10">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="list card" id="upcomingClasses-card25">
      <ion-item class="item-divider" id="upcomingClasses-list-item-divider1"> January 10</ion-item>
      <ion-item class="item-avatar" id="upcomingClasses-list-item15">
        <img src="img/8NBNEkmxTs6CqidQlYnF_france.jpg">
        <h2>3:00PM - B2 FCE Prep</h2>
        <p>Airport Vocabulary</p>
      </ion-item>
      <div id="upcomingClasses-button-bar1" class="button-bar">
        <button id="upcomingClasses-button7" class="button button-dark button-block icon ion-play"></button>
        <button id="upcomingClasses-button8" class="button button-dark button-block icon ion-ios-game-controller-b"></button>
        <button id="upcomingClasses-button9" class="button button-dark button-block icon ion-ios-book"></button>
        <button id="upcomingClasses-button11" class="button button-dark button-block icon ion-ios-list"></button>
      </div>
    </div>
    <div class="list card" id="upcomingClasses-card212">
      <ion-item class="item-divider" id="upcomingClasses-list-item-divider3"> January 12</ion-item>
      <ion-item class="item-avatar" id="upcomingClasses-list-item18">
        <img src="img/8nD9zknxQ36RSqrklrJo_france.jpg">
        <h2>3:00PM - B2 FCE Prep</h2>
        <p>Active vs. Passive Voice</p>
      </ion-item>
      <div id="upcomingClasses-button-bar3" class="button-bar">
        <button id="upcomingClasses-button16" class="button button-dark button-block icon ion-play"></button>
        <button id="upcomingClasses-button17" class="button button-dark button-block icon ion-ios-game-controller-b"></button>
        <button id="upcomingClasses-button18" class="button button-dark button-block icon ion-ios-book"></button>
        <button id="upcomingClasses-button19" class="button button-dark button-block icon ion-ios-list"></button>
      </div>
    </div>
    <div class="list card" id="upcomingClasses-card26">
      <ion-item class="item-divider" id="upcomingClasses-list-item-divider5"> January 14</ion-item>
      <ion-item class="item-avatar" id="upcomingClasses-list-item10">
        <img src="img/8nD9zknxQ36RSqrklrJo_france.jpg">
        <h2>3:00PM - B2 FCE Prep</h2>
        <p>Active vs. Passive Voice</p>
      </ion-item>
      <div id="upcomingClasses-button-bar5" class="button-bar">
        <button id="upcomingClasses-button12" class="button button-dark button-small button-block icon ion-play"></button>
        <button id="upcomingClasses-button15" class="button button-assertive button-small button-block icon ion-ios-list"></button>
      </div>
    </div>
    <div class="list card" id="upcomingClasses-card27">
      <ion-item class="item-divider" id="upcomingClasses-list-item-divider6"> January 14</ion-item>
      <ion-item class="item-avatar" id="upcomingClasses-list-item11">
        <img src="img/8nD9zknxQ36RSqrklrJo_france.jpg">
        <h2>3:00PM - B2 FCE Prep</h2>
        <p>Active vs. Passive Voice</p>
      </ion-item>
      <div id="upcomingClasses-button-bar6" class="button-bar">
        <button id="upcomingClasses-button20" class="button button-assertive button-small button-block icon ion-play"></button>
        <button id="upcomingClasses-button21" class="button button-stable button-small button-block icon ion-ios-list"></button>
      </div>
    </div>
    <div id="upcomingClasses-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Load more ...</strong>
      </p>
    </div>
  </ion-content>
</ion-view>